.grid {
  margin: 20px 0 20px;
}

.formParentDiv {
  display: flex;
  width: 100%;
}

.formClass {
  height: 200px;
  width: 60%;
  margin: auto;
  margin-bottom: -20px;
}

.cardClass {
  margin: 50px 50px 50px 100px; 
  width: 100%;
  text-align: center;
}

.buttonClass {
  margin: 0px;
}

.gridCell {
  padding: 0%;
  margin: -8px;
}

.s {
  justify-content: center;
  margin-left: auto;
}

.column {
  float: left;
  width: 50%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}